include header.pug
.content
	div#landing
		img.show-for-medium(src="/public/images/contact.jpg")
		img.hide-for-medium(src="/public/images/contact-mobile.jpg")
	div.form#contactForm.row
		h2.subtitle Contact Us
		.formItem.small-12.columns
			div Name:
			input
		.formItem.small-12.columns
			div E-mail:
			input
		.formItem.small-12.columns
			div Contact Number:
			input
		.formItem.small-12.columns
			div Order Number:
			input
		.formItem.small-12.columns
			div Query:
			textarea
		div.submit
			a(href="/" class="button") Submit Query

include footer.pug