footer#footer
	div#social.row
		a(href="/")
			i.fa.fa-facebook(aria-hidden="true")
		a(href="/")
			i.fa.fa-twitter(aria-hidden="true")
		a(href="/")
			i.fa.fa-instagram(aria-hidden="true")
		a(href="/")
			i.fa.fa-linkedin(aria-hidden="true")
	div#footerLinks.row
		div.footerLink.small-6.medium-4.columns#about
			a(href="/") About Us
		div.footerLink.small-6.medium-4.columns#delivery
			a(href="/") Delivery
		div.footerLink.small-6.medium-4.columns#returns
			a(href="/") Returns
		div.footerLink.small-6.medium-4.columns#faq
			a(href="/") FAQ
		div.footerLink.small-6.medium-4.columns#contact
			a(href="/contact") Contact Us
		div.footerLink.small-6.medium-4.columns#terms
			a(href="/") Ts&Cs
		div.footerLink.small-6.medium-4.columns#privacy
			a(href="/") Privacy Policy
		div.footerLink.small-6.medium-4.columns#cookies
			a(href="/") Cookie Policy
		div.footerLink.small-6.medium-4.columns.show-for-medium#cookies
			a(href="/") Sell With Us
		div.footerLink.small-6.medium-4.small-centered.columns.hide-for-medium#sell
			a(href="/") Sell With Us
