footer#footer
	div#social.row
		span
			a(href="/")
				i.fab.fa-github-square(aria-hidden="true")
		span
			a(href="/")
				i.fab.fa-linkedin(aria-hidden="true")
		span
			a(href="/")
				i.fab.fa-instagram(aria-hidden="true")
		span
			a
				i.fab.fa-facebook(aria-hidden="true")
	div#footerLinks.row
		div.footerLink.small-6.medium-4.columns#about
			a(href="/about") About Us
		div.footerLink.small-6.medium-4.columns#delivery
			a(href="/delivery") Delivery
		div.footerLink.small-6.medium-4.columns#returns
			a(href="/returns") Returns
		div.footerLink.small-6.medium-4.columns#faq
			a(href="/") FAQ
		div.footerLink.small-6.medium-4.columns#contact
			a(href="/contact") Contact Us
		div.footerLink.small-6.medium-4.columns#terms
			a(href="/teescees") Ts&Cs
		div.footerLink.small-6.medium-4.columns#privacy
			a(href="/privacy") Privacy Policy
		div.footerLink.small-6.medium-4.columns#cookies
			a(href="/cookies") Cookie Policy
		div.footerLink.small-6.medium-4.columns.show-for-medium#cookies
			a(href="/sell") Sell With Us
		div.footerLink.small-6.medium-4.small-centered.columns.hide-for-medium#sell
			a(href="/sell") Sell With Us
