html
	head
		title Home by Hand
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width initial-scale=1")
		style 
			include ../public/css/foundation.css
			include ../public/css/owl.theme.default.min.css
			include ../public/css/owl.carousel.min.css
			include ../public/css/sidr.css
			include ../public/css/header.css
			include ../public/css/general.css
			include ../public/css/elasticNav.css
			include ../public/css/footer.css
			include ../public/css/home.css
		script(type='text/javascript' src='public/js/jquery.js')
		script(type='text/javascript' src='public/js/header.js')
		script(type='text/javascript' src='public/js/home.js')
		script(src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js")
		script(src='public/js/owl.carousel.min.js')
		link(rel='stylesheet', href="https://use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans')
		link(rel='stylesheet', href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css")
	body
		include sidebar.pug
		div#topNav
			include headerNavs.pug