div#collage
	h2 Some of our other products
	div.row#photos
		img(src="/public/images/display1.jpg")
		img(src="/public/images/display2.jpg")
		img(src="/public/images/display3.jpg")
		img(src="/public/images/display4.jpg")
		img(src="/public/images/display5.jpg")
		img(src="/public/images/display6.jpg")
		img(src="/public/images/display7.jpg")
		img(src="/public/images/display8.jpg")
		img(src="/public/images/display9-mobile.jpg")
		img(src="/public/images/display10.jpg")
		img(src="/public/images/display11.jpg")
		img(src="/public/images/display1.jpg")
		img(src="/public/images/display2.jpg")
		img(src="/public/images/display3.jpg")
		img(src="/public/images/display4.jpg")