include header.pug
.content
	div#landing
		img.show-for-medium(src="/public/images/landing.jpg")
		img.hide-for-medium(src="/public/images/landing-mobile.jpg")
		div#promotions
			div.promotion.small-4.columns
				div
					a(href="/") 10% Discount "HBH10"
			div.promotion.small-4.columns
				div
					a(href="/") Free P&P
			div.promotion.small-4.columns
				div
					a(href="/") 30-day Return Policy
	div#firstDisplay
		div.row
			div.owl-carousel.owl-theme.show-for-large
				div
					img(src="/public/images/display1.jpg")
					a.pageLink(href="/")
						i.fa-eye.fa
				div
					img(src="/public/images/display2.jpg")
					a.pageLink(href="/")
						i.fa-eye.fa
				div
					img(src="/public/images/display3.jpg")
					a.pageLink(href="/")
						i.fa-eye.fa
				div
					img(src="/public/images/display4.jpg")
					a.pageLink(href="/")
						i.fa-eye.fa
				div
					img(src="/public/images/display5.jpg")
					a.pageLink(href="/")
						i.fa-eye.fa
				div
					img(src="/public/images/display6.jpg")
					a.pageLink(href="/")
						i.fa-eye.fa
				div
					img(src="/public/images/display7.jpg")
					a.pageLink(href="/")
						i.fa-eye.fa
				div
					img(src="/public/images/display8.jpg")
					a.pageLink(href="/")
						i.fa-eye.fa
			div.owl-carousel.owl-theme.hide-for-large
				div
					img(src="/public/images/display1.jpg")
					a.pageLink(href="/")
						i.fa-eye.fa
				div
					img(src="/public/images/display2.jpg")
					a.pageLink(href="/")
						i.fa-eye.fa
				div
					img(src="/public/images/display3.jpg")
					a.pageLink(href="/")
						i.fa-eye.fa
				div
					img(src="/public/images/display4.jpg")
					a.pageLink(href="/")
						i.fa-eye.fa
				div
					img(src="/public/images/display5.jpg")
					a.pageLink(href="/")
						i.fa-eye.fa
				div
					img(src="/public/images/display6.jpg")
					a.pageLink(href="/")
						i.fa-eye.fa
				div
					img(src="/public/images/display7.jpg")
					a.pageLink(href="/")
						i.fa-eye.fa
				div
					img(src="/public/images/display8.jpg")
					a.pageLink(href="/")
						i.fa-eye.fa
				div
					img(src="/public/images/display9-mobile.jpg")
					a.pageLink(href="/")
						i.fa-eye.fa
				div
					img(src="/public/images/display10.jpg")
					a.pageLink(href="/")
						i.fa-eye.fa
				div
					img(src="/public/images/display11.jpg")
					a.pageLink(href="/")
						i.fa-eye.fa
	div#homeText.hide-for-large
		h2.subtitle Testimony
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut gravida nulla. Phasellus eu porttitor velit. Nunc elementum lorem nibh, ullamcorper tristique dolor pretium a. Pellentesque sed volutpat leo. Donec imperdiet odio id lectus auctor, et interdum turpis tincidunt.

		p Nulla scelerisque, ipsum at laoreet congue, ex nisi condimentum ligula, ac vestibulum mi nulla et sapien. Morbi at bibendum ipsum. Praesent ullamcorper turpis risus, id lacinia est vehicula lobortis. Sed dapibus elementum ex, quis ultricies magna imperdiet tristique. Vivamus vitae semper dui. 

		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut gravida nulla. Phasellus eu porttitor velit. Nunc elementum lorem nibh, ullamcorper tristique dolor pretium a. Pellentesque sed volutpat leo.

		p Nulla scelerisque, ipsum at laoreet congue, ex nisi condimentum ligula, ac vestibulum mi nulla et sapien. Morbi at bibendum ipsum. Praesent ullamcorper turpis risus, id lacinia est vehicula lobortis. Sed dapibus elementum ex.

		p Emma x

	div#secondDisplay.show-for-large
		div.row
			div#left.small-12.medium-6.columns
				img(src="/public/images/display9.jpg", align="left")
			div#right.small-12.medium-6.columns
				img(src="/public/images/display10.jpg", align="right")
			div#testimony
				h6.subtitle Testimony
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut gravida nulla. Phasellus eu porttitor velit. Nunc elementum lorem nibh, ullamcorper tristique dolor pretium a. Pellentesque sed volutpat leo.

				p Nulla scelerisque, ipsum at laoreet congue, ex nisi condimentum ligula, ac vestibulum mi nulla et sapien. Morbi at bibendum ipsum. Praesent ullamcorper turpis risus, id lacinia est vehicula lobortis. Sed dapibus elementum ex.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut gravida nulla. Phasellus eu porttitor velit. Nunc elementum lorem nibh, ullamcorper tristique dolor pretium a. Pellentesque sed volutpat leo.

				p Nulla scelerisque, ipsum at laoreet congue, ex nisi condimentum ligula, ac vestibulum mi nulla et sapien. Morbi at bibendum ipsum. Praesent ullamcorper turpis risus, id lacinia est vehicula lobortis. Sed dapibus elementum ex.

				p Emma x


include footer.pug