div#collage
	h2 Some of our other products
	div.row#photos
		each product in data.collage
			a(href="/product?productId=" + product.productId)
				img(src="/public/images/" + product.productId + ".jpg")