div.owl-carousel.owl-theme#productCarousel
	each product in data.carousel
		div.productCarouselImage
			a(href="/product?productId=" + product.productId)
				img(src="/public/images/" + product.productId + ".jpg")
			div.productCarouselTitleBlock
				span.productCarouselTitle #{product.title}
				span.productCarouselSubtitle #{product.shortDescription}
				span.price #{product.displayPrice}