div#landing
	div#overlay
	div.backgroundImage#backgroundImage1
	div.backgroundImage#backgroundImage2
	div.backgroundImage#backgroundImage3
	div#landingContent
		include headerNavs.pug
		div#landingMain
			div#landingMainBody
				div#companyName Home By Hand
				div#slogan Handpick The Home You Want
				div#info Find unique and high-quality items to give your home the personal touch it deserves.
				div#searchAll
					a(href="/search") See Our Full Range
	div#pointer 
		i.fa.fa-arrow-alt-circle-down(aria-hidden="true")
div#summary.row
	div#tagline.small-12.large-4.columns
		span No hassle. High standards.
	div#description.small-12.large-6.columns
		span Home By Hand strives to give you one-of-a-kind items that will stay in your home for years to come.
	div.small-12.large-2.columns
		span.buttonLink Find Out More