div#sideNav.navigation
	div.navigation__inner
		a(href="/") All Products
		div#specificProductLinks
			a#newArrivals(href="/") New Arrivals
			a(href="/") Home Accessories
			a(href="/") Lighting
			a(href="/") Furniture
			a(href="/") Gifts
			a#clearance(href="/") Clearance
		a(href="/") About Us
		a(href="/") FAQs
		a(href="/") Contact Us
		a(href="/") Selling with us