#contactForm {
	background-color: #FFFFFF;
	margin-top: -250px;
	padding: 50px;
}

#contactForm .submit {
	text-align: center;
}

#contactForm a {
  background-color: #D6AD10;
  transition: 1s;
}

#contactForm a:hover {
  background-color: #BD9400;
}

@media screen and (max-width: 64em) {
	#contactForm {
		margin-top: 0px;
	}
}
