#footer {
	border-top: solid 1px #000000;
	text-align: center;
	padding: 20px;
	margin-top: 50px;
}

#footer * {
	color: #000000;
	font-size: 15px;
	transition: 1s
}

#footer *:hover {
	color: #AAAAAA;
}

#social {
	width: 100%;
	text-align: center;
	padding: 10px;
}

#social i {
	margin: 10px;
	font-size: 25px;
	transition: 0.5s;
}

#social i:hover {
	color: #AAAAAA;
}

.footerLink {
	padding-top: 10px;
}