body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.content {
  flex: 1;
}

body *:not(.fa) {
	font-family: 'Montserrat', serif !important;
}

.subtitle {
	text-decoration: underline;
	text-align: center;
}