body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/*body * {
	border: solid 1px red;
}*/

.content {
  flex: 1;
}

.content > div:first-child {
  border-top: solid #999999 1px;
}

body *:not(.fa):not(.fab) {
	font-family: 'Josefin Sans', serif !important;
}

.subtitle {
	text-decoration: underline;
	text-align: center;
}

.form .formItem {
	margin-top: 20px;
}

.form .formItem input{
	width: 100%;
	height: 40px;
}

.divider {
	border-top: solid 1px #999999;
	margin-top: 30px;
	margin-bottom: 30px;
}