#nav, #stickyNav {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 5px;
}

#nav #logo img, #stickyNav #stickyLogo img {
  height: 50px;
}

#stickyNav {
  position: fixed; /* Make it stick/fixed */
  top: -100px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

#navLinks, #stickyNavLinks {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#navLinks span,  #stickyNavLinks span {
  margin: 15px;
  font-size: 30px;
}

#navLinks a, #stickyNavLinks a {
  color: #FFFFFF;
  transition: 0.5s;
}

#navLinks a:hover,  #stickyNavLinks a:hover {
  color: #999999;
}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (max-width: 360px) 
  and (max-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
    #navLinks, #stickyNavLinks {
      text-align: center;
      padding-right: 0;
    }

    #navLinks span, #stickyNavLinks span {
      /*margin: 5px;*/
      margin-right: 0px;
    }
}