#advancedSearch {
	padding-top: 5px;
}

#advancedSearch .fa {
	color: #999999;
}

#accordion h5 {
	transition: 0.5s;
	cursor: pointer;
	text-align: left;
	padding-left: 10px;
}

#accordion h5 .fa {
	right: 10;
	top: 10;
	margin-left: 20px;
	cursor: pointer;
	font-size: 20px;
}

#filters {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding-left: 10px;
	padding-right: 10px;
}

.searchProductImage {
	padding: 5px;
	border: solid 1px #000000;
}

.item {
	margin-bottom: 20px;
	float: left !important;
}

.searchItemInfo {
	padding-top: 10px;
	padding-left: 10px;
}

.divider {
	border-bottom: 1px solid #000000;
}

#noResults {
	text-align: center;
}